#portfolio-container {
  height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-image: url('../../Images/30\ Black\ abstract\ Wallpapers\ HD\ Download.jpg');
  color: white;
}

#view-value-btn {
  width: 80%;
  height: 70px;
  border-radius: 4px;
}