input {
  width: 300px;
  height: 75px;
  border-radius: 4px;
  border: solid black 1px;
  text-align: center;
  font-size: 1.2em;
}

#search-header {
  text-align: center;
}

#search-coins-container {
  height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url('../../Images/30\ Black\ abstract\ Wallpapers\ HD\ Download.jpg');
  color: white;
  justify-content: space-evenly;
}

#search-button-div {
  background-color: black;
  width: 100px;
  margin: 0 auto;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  width: 300px;
  height: 70px;
  border: solid white 1px;
}

#search-form {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 30vh;
}
