p {
  width: 90%;
  text-align: center;
}

.coin-p {
  width: 90%;
  margin: 5px;
  padding: 10px;
  background-color: #3e3e3ed4;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
}

#coin-info-container {
  background-image: url('../../Images/30\ Black\ abstract\ Wallpapers\ HD\ Download.jpg');
  height: 70vh;
  overflow: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

#coin-title-div {
  width: 90%;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

#back-button-home {
  position: absolute;
  top: 22vh;
  left: 20px;
  background-color: transparent;
}

#coin-rank-info {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.coin-main {
  font-size: 1.5em;
  margin: 0;
  font-weight: bold;
}

#coin-market-info {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}