#coin-change-info-container {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}

.info-container {
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #3e3e3ed4;
}

.indicator {
  margin-right: 5px;
}