#portfolio-info-container {
  position: absolute;
  width: 90%;
  background-color: #303030fa;
  height: 68vh;
  border-radius: 4px;
  overflow: scroll;
}

#total-p {
  margin: 0 auto;
}

#close-portfolio-btn {
  margin: 10px 0px 0px 10px;
}

.header {
  text-align: center;
  width: 100%;
}

.coin-value-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

