.nav-button {
  width: 33.33%;
  font-size: 1.5em;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
  text-decoration: none;
}