h2{ 
  font-size: 2em; 
  margin: 5px;
}

.qty-input {
  width: 50%;
  height: 60px;
}

.coin-input-div {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #9e9e9e4f;
  padding: 10px;
  border-radius: 4px;
}

.coin-label {
  font-size: 1.5em;
}