table {
  width: 50%;
  justify-self: center;
  border-collapse: collapse;
  margin: 10px auto;
}

#coin-card-section {
  width: 90%;
  text-align: center;
  background-color: #383838e0;
  border-radius: 4px;
}

.tracking-btn {
  font-size: 1em;
  background-color: black;
  color: white;
  height: 50px;
  border-radius: 4px;
  margin-bottom: 10px;
}